/*Cайт*/
body{
    background: #18191a;
}

/*Окно авторизации*/
#Authorize{
    top: 50%;
    left: 50%;
    display: block;
    position: fixed;
    transform: translate(-50%, -50%);
}
#Authorize_main_text{
    padding: 10px;
    text-align: center;
    background: cornsilk;
    display: block;
    border-radius: 10px;
}
#Authorize_username{
    outline: none;
    display: block;
    color: #ffffff;
    padding: 10px 50px;
    text-align: center;
    background: #1c1c1f;
    border: 1px solid #2c2c2c;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#Authorize_password{
    outline: none;
    display: block;
    color: #ffffff;
    padding: 10px 50px;
    text-align: center;
    background: #1c1c1f;
    border: 1px solid #2c2c2c;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#Authorize_login{
    border: none;
    outline: none;
    display: block;
    color: #000000;
    margin: 15px auto;
    text-align: center;
    padding: 10px 115px;
    border-radius: 10px;
    background: #919090;
}

/*Окно после авторизации*/
#Done{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: none;
}
#Done_info{
    color: #63bae4;
    text-transform: uppercase;
    font-weight: 540;
    margin-top: 75px;
}
#Done_info2{
    color: #63bae4;
    text-transform: uppercase;
    font-weight: 540;
}
#Done_info3{
    color: #63bae4;
    text-transform: uppercase;
    font-weight: 540;
}
#Done_info4{
    padding-top: 20px;
    color: #ec1616bd;
    text-transform: uppercase;
    font-weight: 540;
    margin-top: 50px;
}
#Done_info5{
    color: #1d9bd8;
    text-transform: uppercase;
    font-weight: 540;
}